<!-- <button (click)="onClickToggle2()">Toggle permanent</button> -->
<mat-card>
  <mat-card-content>
    <h2>Huidige instelling aanpassen</h2>
    <section class="example-section">
      Tijdelijke override
      <mat-slide-toggle (change)="temporaryOverrideSliderToggle()" class="example-margin" [disabled]=(slidersDisabled)
        [(ngModel)]="temporaryOverrideSliderChecked">
      </mat-slide-toggle>
    </section>
    <section class="example-section">
      Permanente override
      <mat-slide-toggle (change)="permanentOverrideSliderToggle()" class="example-margin" [disabled]=(slidersDisabled)
        [(ngModel)]="permanentOverrideSliderChecked">
      </mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>