.button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.button.delete {
  position: relative;
  /*left: 194px;*/
  top: -5px;
  background-color: gray;
  color: white;
}
